version: "3.9"

services:
  postgres:
    image: postgres:16
    restart: unless-stopped
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - ${POSTGRES_PORT}:5432
    networks:
      - development
    profiles: ["infra"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - 7011:6379
    volumes:
      - redis_data:/data
    networks:
      - development
    profiles: ["infra"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  rabbitmq:
    image: rabbitmq:4.0.6-management
    restart: unless-stopped
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - 7012:5672
      - 7013:15672
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - development
    profiles: ["infra"]
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 15s
      timeout: 10s
      retries: 10
      start_period: 20s

volumes:
  postgres_data:
  rabbitmq_data:
  redis_data:

networks:
  development:
    driver: bridge
